/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", Arial, sans-serif;
  color: #000;
}

body {
  display: block;
}

h1 {
  text-align: center;
  font-size: 2.5em; /* 75% larger than base font size */
  margin-bottom: 15px;
}

.row {
  width: 100%;
  overflow: hidden;
}

#section {
  border: 1px solid black;
  padding: 15px;
  margin: 1%;
  background-color: #b4b1b1;
  position: relative;
  overflow: hidden;
  height: 159px;
  display: inline-block;
  height: 200px;
}

.section-title {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  width: 30%;
  text-align: center;
  border: 1px solid black;
  font-size: 1.25em; /* 25% larger than base font size */
  font-weight: bold;
}

#chicken {
  background-color: pink;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: yellow;
}

.section-content {
  padding-top: 40px;
  font-size: 1em;
}

/* Desktop view */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 31%;
    float: left;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 48%;
    float: left;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .col-sm-12 {
    width: 98%;
    float: left;
  }
}
